s/simplify-choice/src/main/resources/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="choice" type="choiceType"/>

	<xs:complexType name="choiceType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="x" type="xs:string"/>
				<xs:element name="z" type="xs:string"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="y" type="xs:string"/>
				<xs:element name="z" type="xs:string"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
</xs:schema>